@charset "UTF-8";
@import url(d:\!Fox\Проекты\PeaceIT\lesson_11_homework_IrinaBondarenko\css\bootstrap-reboot.min.css);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: #202020;
  font-family: 'Hellix', Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.header {
  padding: 53px 0 100px 0;
}

@media (max-width: 992px) {
  .header {
    padding: 50px 0 75px 0;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 47px 0 50px 0;
  }
}

@media (max-width: 576px) {
  .logo {
    margin-bottom: 15px;
  }
}

.logo__link {
  text-decoration: none;
  color: #202020;
}

.logo__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin-left: 25px;
}

.menu__nav-link {
  text-decoration: none;
  color: #202020;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 5px 14px;
}

.menu__nav-link:hover {
  background-color: #5528ff;
  color: white;
  border-radius: 5px;
}

.about__container {
  padding-bottom: 100px;
}

@media (max-width: 992px) {
  .about__container {
    padding-bottom: 75px;
  }
}

@media (max-width: 768px) {
  .about__container {
    padding-bottom: 50px;
  }
}

.about__title {
  font-size: 53.5px;
  line-height: 68px;
  font-weight: 700;
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .about__title {
    font-size: 44.5px;
  }
}

@media (max-width: 768px) {
  .about__title {
    font-size: 32.5px;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .about__title {
    font-size: 24.5px;
    margin-bottom: 20px;
  }
}

.about__text {
  font-size: 32px;
  line-height: 52px;
  margin-bottom: 70px;
}

@media (max-width: 992px) {
  .about__text {
    font-size: 24px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .about__text {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 55px;
  }
}

@media (max-width: 576px) {
  .about__text {
    text-align: justify;
  }
}

.about__link {
  text-decoration: none;
  color: white;
  background-color: #5528ff;
  padding: 13px 40px;
  font-size: 20px;
  line-height: 28px;
  border-radius: 10px;
  text-align: center;
  margin: 0 15px;
}

.about__link:hover {
  background-color: #2300a8;
}

.section-title {
  font-size: 14px;
  line-height: 16px;
  color: #c2c2c2;
  overflow: hidden;
  position: relative;
  margin: 0;
  white-space: nowrap;
  text-transform: uppercase;
}

.section-title::after, .section-title::before {
  content: '';
  display: inline-block;
  position: relative;
  top: -3px;
  height: 1px;
  vertical-align: middle;
  background: #C2C2C2;
}

.section-title::before {
  left: -10px;
  margin-left: -50%;
  width: 58%;
}

.section-title::after {
  left: 10px;
  margin-right: -50%;
  width: 200%;
}

.section-title[data-scroll] {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.section-title[data-scroll="in"] {
  opacity: 1;
}

.section-title[data-scroll="out"] {
  opacity: 0;
}

.services__cards {
  padding: 80px 0 20px 0;
}

@media (max-width: 768px) {
  .services__cards {
    padding: 50px 0 20px 0;
  }
}

.services-card {
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .services-card {
    margin-bottom: 30px;
  }
}

.services-card__inner {
  padding: 0;
}

.services-card__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .services-card__title {
    font-size: 24px;
  }
}

.services-card__text {
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
}

.services-card[data-scroll] {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.services-card[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.services-card[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.clients__container {
  padding: 100px 0 36px 0;
}

@media (max-width: 768px) {
  .clients__container {
    padding: 50px 0 36px 0;
  }
}

.clients-card {
  margin-bottom: 64px;
  text-align: center;
}

@media (min-width: 768px) {
  .clients-card {
    margin-bottom: 20px;
  }
}

.clients-card[data-scroll] {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.clients-card[data-scroll="in"] {
  opacity: 1;
}

.clients-card[data-scroll="out"] {
  opacity: 0;
}

.team__container {
  padding: 100px 0 40px 0;
}

.team-card {
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 0;
}

@media (min-width: 576px) {
  .team-card {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-card__pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-card__img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.team-card__inner {
  margin-left: 35px;
}

.team-card__title {
  font-size: 28px;
  line-height: 33px;
  color: #202020;
  margin-bottom: 10px;
}

.team-card__text {
  font-size: 14px;
  line-height: 16px;
  color: #B2B2B2;
}

.team-card[data-scroll] {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.team-card[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.team-card[data-scroll="out"] {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.footer {
  background: #F7F7F7;
}

.footer__container {
  padding: 20px 0;
}

.social__link {
  color: #B2B2B2;
  cursor: pointer;
}

.social__link:hover {
  color: #727272;
}

/*Animation*/
[data-scroll] {
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

[data-scroll="in"] {
  opacity: 1;
}

[data-scroll="out"] {
  opacity: 0;
}

/*Adaptive*/
/*# sourceMappingURL=style.css.map */