@import "bootstrap-reboot.min.css";

$accent-color: rgba(85, 40, 255, 1);
$default-text-color: #202020;
$accent-text-color: white;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: $default-text-color;
    font-family: 'Hellix', Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.header {
    padding: 53px 0 100px 0;
}

.logo {
    &__link {
        text-decoration: none;
        color: $default-text-color;
    }

    &__name {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        text-align: center;
        margin-left: 25px;
    }
}

.menu {

    &__nav-link {
        text-decoration: none;
        color: $default-text-color;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        padding: 5px 14px;

        &:hover {
            background-color: $accent-color;
            color: $accent-text-color;
            border-radius: 5px;

        }
    }
}

.about {

    &__container {
        padding-bottom: 100px;
    }

    &__title {
        font-size: 53.5px;
        line-height: 68px;
        // text-align: center;
        font-weight: 700;
        margin-bottom: 24px;
    }

    &__text {
        font-size: 32px;
        line-height: 52px;
        margin-bottom: 70px;
    }

    &__link {
        text-decoration: none;
        color: $accent-text-color;
        background-color: $accent-color;
        padding: 13px 40px;
        font-size: 20px;
        line-height: 28px;
        border-radius: 10px;
        text-align: center;

        &:hover {
            background-color: darken($accent-color, 25);
        }
    }
}

.section-title {
    font-size: 14px;
    line-height: 16px;
    color: #c2c2c2;
    overflow: hidden;
    position: relative;
    margin: 0;
    white-space: nowrap;
    text-transform: uppercase;

    &::after,
    &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: -3px;
        height: 1px;
        vertical-align: middle;
        background: #C2C2C2;
    }

    &::before {
        left: -10px;
        margin-left: -50%;
        width: 58%;
    }

    &::after {
        left: 10px;
        margin-right: -50%;
        width: 200%;
    }

}

.services {
    &__cards {
        padding: 80px 0 20px 0;
    }
}

.services-card {
    margin-bottom: 80px;

    &__title {
        font-size: 28px;
        line-height: 33px;
        font-weight: 400;
        margin-bottom: 16px;
    }

    &__text {
        font-size: 14px;
        line-height: 16px;

        color: #B2B2B2;
    }
}

.clients {
    &__container {
        padding: 100px 0 36px 0;
    }
}

.clients-card {
    margin-bottom: 64px;
    text-align: center;

}

.team {
    &__container {
        padding: 100px 0 40px 0;
    }
}

.team-card {
    margin-bottom: 60px;
    align-items: center;


    &__pic {
        width: 100px;
        height: 100px;
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__img {
        object-position: center;
        object-fit: cover;
        border-radius: 50%;
    }

    &__inner {
        margin-left: 35px;
    }

    &__title {
        font-size: 28px;
        line-height: 33px;

        color: $default-text-color;
        margin-bottom: 10px;
    }

    &__text {
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */


        color: #B2B2B2;
    }
}